#main {
	width: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 65px;
}

textarea {
	width: 100%;
	display: block;

}

a[href=""] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .65;
}

.quoteList article {
	/* fixes navbar obscuring quotes */
	padding-top: 45px;
	margin-top: -45px; 
}

.quoteList article header,
.quoteList article header div { padding: 0; }

.quote:hover {
	text-decoration: none;
}

.quote pre {
	word-break: normal;
}

.btn-vote {
	font-family: "Lucida Console", Monaco, monospace;
}

body > nav {
	position: fixed;
	background-color: #428bca;

	color: white;
	min-width: 768px;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
}

nav a:hover {
	text-decoration: none;
}

nav a.currentSort {
	background-color: #0f5897;
}

nav h1 {
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	margin: 0;
	box-sizing: border-box;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	letter-spacing: -0.31em;
}

nav li {
	letter-spacing: normal;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
}

nav a:not(.btn) {
	color: white;
	display: block;
	position: relative;

	padding: 10px;

}

nav form input.form-control {
	width: auto;
	display: inline-block;
}

nav form button.btn {
	display: inline-block;
}

@media (max-width: 768px) {
}

@media (max-width: 668px) {
}
