{{set . "title" "QDB"}}
{{template "header.html" .}}

<div id="main">
	<header>

		<a href="/"><h3>QDB</h3></a>

		<form class="form-inline" role="form" method="get" action="">
			<div class="form-group">
				<input class="form-control" type="search" id="search" name="page.Search" value="{{.page.Search}}" />
			</div>
			<button class="btn btn-primary" type="">search</button>
		</form>
	</header>
	
	<br/>

	<span class="error-message">{{if .errors}}There were errors in the form submission{{end}}</span>
	<form role="form" method="post" action="/">
		<!--
		<legend>quote</legend>
		<textarea name="quote" rows="5"></textarea>
		<br/>
		<input class="btn btn-primary" type="submit" name="submit" value="submit"/>
		-->

		<!-- Textarea -->
		{{with $field := field "entry.Quote" .}}
		<div class="form-group">
			<textarea class="form-control {{$field.ErrorClass}}" id="quote" name="entry.Quote" placeholder="quote">{{$field.Flash}}</textarea>
		</div>
		{{end}}
		<!-- Text input-->
		<!-- XXX: use field? -->
		<div class="form-group row">
			<div class="col-xs-3">
				<input class="form-control" id="author" name="entry.Author" type="text" placeholder="author" value="{{.savedAuthor}}">
			</div>
		</div>

		<!-- Submit -->
		<div class="form-group">
	    	<button id="submit" name="submit" type="submit" class="btn btn-primary">submit</button>
		</div>
	</form>
	<div id="pageLinks" class="clearfix">
		<a class="btn btn-default fLeft" {{if eq .hasPrevPage false}}disabled="disabled"{{end}} 
			href="?page.Page={{.prevPage}}
				{{if neq .page.Search ""}}&page.Search={{.page.Search}}{{end}}
				{{if neq .page.Size 0}}&page.Size={{.page.Size}}{{end}}"
		>
			prev
		</a>
		<a class="btn btn-default fRight" {{if eq .hasNextPage false}}disabled="disabled"{{end}} 
			href="?page.Page={{.nextPage}}
				{{if neq .page.Search ""}}&page.Search={{.page.Search}}{{end}}
				{{if neq .page.Size 0}}&page.Size={{.page.Size}}{{end}}"
		>
			next
		</a>
	</div>
	
	<br/>
	
	{{$page := .page}}

	{{with $entries := .entries}}
	{{range $e := $entries}}

	<!-- author, time, rating buttons -->
	<div class="clearfix">
		<div class="fLeft">{{$e.Author}} {{$e.Time}}</div>
		<div class="fRight">
			<a class="btn btn-danger btn-xs btn-vote" role="button" href="/down?id={{$e.QuoteId}}
				{{if neq $page.Search ""}}&page.Search={{$page.Search}}{{end}}
				{{if neq $page.Page 0}}&page.Page={{$page.Page}}{{end}}
				{{if neq $page.Size 0}}&page.Size={{$page.Size}}{{end}}
			">-</a>
			<span>{{$e.Rating}}</span>
			<a class="btn btn-success btn-xs btn-vote" role="button" href="/up?id={{$e.QuoteId}}
				{{if neq $page.Search ""}}&page.Search={{$page.Search}}{{end}}
				{{if neq $page.Page 0}}&page.Page={{$page.Page}}{{end}}
				{{if neq $page.Size 0}}&page.Size={{$page.Size}}{{end}}
			">+</a>
		</div>
	</div>

	<!-- The actual quote -->
	<pre class="quote_entry"><a href="/q/{{$e.QuoteId}}">{{$e.Clip}}</a></pre>

	{{end}}
	{{else}}
	<p>No more results</p>
	{{end}}
</div>


{{template "footer.html" .}}
