{{set . "title" "QDB"}}
{{template "header.html" .}}

<div id="main">
	<header>

		<a href="/"><h3>QDB</h3></a>

		<form class="form-inline" role="form" method="get" action="">
			<div class="form-group">
				<input class="form-control" type="search" id="search" name="search" value="{{.search}}" />
			</div>
			<button class="btn btn-primary" type="">search</button>
		</form>
	</header>
	
	<br/>

	<span class="error-message">{{if .errors}}There were errors in the form submission{{end}}</span>
	<form role="form" method="post" action="/">
		<!--
		<legend>quote</legend>
		<textarea name="quote" rows="5"></textarea>
		<br/>
		<input class="btn btn-primary" type="submit" name="submit" value="submit"/>
		-->

		<!-- Textarea -->
		{{with $field := field "q.Quote" .}}
		<div class="form-group">
			{{if $field.Error}}
			<textarea class="form-control text-field-error" id="quote" name="quote" placeholder="Missing quote" ></textarea>
			{{else}}
			<textarea class="form-control" id="quote" name="quote" placeholder="quote" ></textarea>
			{{end}}
		</div>
		{{end}}
		<!-- Text input-->
		{{with $field := field "q.Author" .}}
		<div class="form-group row">
			<div class="col-xs-3">
				{{if $field.Error}}
				<input class="form-control text-field-error" id="author" name="author" type="text" placeholder="Missing author" value="">
				{{else}}
				<input class="form-control" id="author" name="author" type="text" placeholder="author" value="anon">
				{{end}}
			</div>
		</div>
		{{end}}

		<!-- Submit -->
		<div class="form-group">
	    	<button id="submit" name="submit" type="submit" class="btn btn-primary">submit</button>
		</div>
	</form>

	<div id="pageLinks" class="clearfix">
	{{if .hasPrevPage}}
	<a id="prevPage" class="btn btn-default" href="?page={{.prevPage}}{{if .search}}&search={{.search}}{{end}}">prev</a>
	{{end}}
	{{if .hasNextPage}}
	<a id="nextPage" class="btn btn-default" href="?page={{.nextPage}}{{if .search}}&search={{.search}}{{end}}">next</a>
	{{end}}
	</div>
	
  <br/>
	
  {{$search := .search}}
  {{$page := .page}}
  {{$size := .size}}

  {{with $entries := .entries}}
	{{range $e := $entries}}
	<p>
    <a href="/up?id={{$e.QuoteId}}{{if $search}}&search={{$search}}{{end}}{{if $page}}&page={{$page}}{{end}}{{if $size}}&size={{$size}}{{end}}">+</a>/
    <a href="/down?id={{$e.QuoteId}}{{if $search}}&search={{$search}}{{end}}{{if $page}}&page={{$page}}{{end}}{{if $size}}&size={{$size}}{{end}}">-</a>
		<span>{{$e.Rating}}</span>
		<span>{{$e.Author}}</span>
		<span>{{$e.Time}}</span>
	</p>
	<a href="/q/{{$e.QuoteId}}" class="quote_entry">
		<div>
			<pre>{{.Clip}}</pre>
		</div>
	</a>
	{{end}}
	{{else}}
	<p>No more results</p>
	{{end}}
</div>


{{template "footer.html" .}}
