<div class="clearfix" style="margin-bottom: 10px">
	
	<a href="{{url "App.Index" .page.PrevPage}}" class="{{if eq .page.HasPrev false}}disabled {{end}}pull-left btn btn-default">prev</a>

	<div class="col-lg-8 col-xs-8">
		<form role="search" class="form-inline col-lg-6" metho="get">
			<div class="form-group">
				<input name="search" type="text" class="form-control" placeholder="search" />
			</div>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
		</form>
		<div class="col-lg-4" style="padding: 6px">
			<a {{if eq .page.Order ""}}href="{{url "App.Index" .page.OrderByRating}}"{{else}}class="disabled"{{end}}>Rating</a>
			 / 
			<a {{if eq .page.Order "rating"}}href="{{url "App.Index" .page.OrderByDate}}"{{else}}class="disabled"{{end}}>Date</a>
			&nbsp;
			<!-- TODO: order direction could just be a bool "asc" toggle -->
			<a 
				href="{{if eq .page.Asc false}}
					{{url "App.Index" .page.SortAsc}}
				{{else}}
					{{url "App.Index" .page.SortDesc}}
				{{end}}"
			><span class="glyphicon glyphicon-sort"></span></a>
		</div>
	</div>	

	<a href="{{url "App.Index" .page.NextPage}}" class="{{if eq .page.HasNext false}}disabled {{end}}pull-right btn btn-default">next</a>
		
</div>
